
.h1 {
    font-size: 18px;
    font-style: bold;
    color: black;
}
.h2 {
    font-size: 18px;
    font-style: bold;
    color: black;
}
.h3 {
    font-size: 14px;
    font-style: italic;
    color: rgb(25, 30, 99);
}
.widebox {
    box-sizing: border-box;
    width: 50%;
    border: 5px solid red;
    float: left;
  }
.top-box {
    clear: both;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1.2em;
    min-width: 47em;
    border-color: #ddd;
    background-color: #f9f9f9;
    white-space: nowrap;
}