
.widebox {
    box-sizing: border-box;
    width: 50%;
    border: 5px solid red;
    float: left;
  }
.top-box {
    clear: both;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1.2em;
    min-width: 47em;
    border-color: #ddd;
    background-color: #f9f9f9;
    white-space: nowrap;
}